@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>
    <p>Nothing is pleasanter than exploring a library.</p>
    </h1>
    <h4>
    <p>Click Here To Expand Your Your Knowledge. <a class="" asp-area="" asp-controller="Books" asp-action="Index">Click Here</a></p>
    </h4>
</div>
