@model LMS_MVC.Models.Publication

@{
    ViewData["Title"] = "Create";
}



<h4>New Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <table width="450px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <tr><td><b><label asp-for="PublicationName" class="control-label"></label></b></td><td>
                <input asp-for="PublicationName" class="form-control" />
                <span asp-validation-for="PublicationName" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                <tr><td><b><label asp-for="PubAddress" class="control-label"></label></b></td><td>
                <input asp-for="PubAddress" class="form-control" />
                <span asp-validation-for="PubAddress" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
               <tr><td><b> <label asp-for="PublicationPhNumber" class="control-label"></label></b></td><td>
                <input asp-for="PublicationPhNumber" class="form-control" />
                <span asp-validation-for="PublicationPhNumber" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
               <tr><td><b> <label asp-for="Email" class="control-label"></label></b></td><td>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
            <tr><td><input type="submit" value="Create" class="btn btn-primary" /></td><td>
                 <a asp-action="Index" class="btn btn-primary">Back to List</a></td></tr>
            </div>
            </table>
        </form>
    </div>
</div>
<br />
<div>
   
</div>

