@model LMS_MVC.Models.Student

@{
    ViewData["Title"] = "Create";
}



<h4>Register Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <table width="700px;" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <tr>
                <td colspan="2">
                    @if( ViewBag.error = true)
                    {             
                       <h4>@ViewBag.ErrorMessage</h4>
                    }
                </td>
            </tr>
            <div class="form-group">
                 <tr><td><strong><label asp-for="StudentRollNo" class="control-label"></label></td></strong><td>
                <input asp-for="StudentRollNo" class="form-control" />
                <span asp-validation-for="StudentRollNo" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                 <tr><td><strong><label asp-for="StudentName" class="control-label"></label></td></strong><td>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                <tr><td> <strong><label asp-for="Department" class="control-label"></label></td></strong><td>

                <select asp-for="Department" class="form-control">
                    <option>Architecture</option>
                    
                    <option>Civil</option>
                    
                    <option>Computer</option>
                    
                    <option>Electronics</option>

                </select>
                @*<input asp-for="Department" class="form-control" />
*@                <span asp-validation-for="Department" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                 <tr><td><strong><label asp-for="Semester" class="control-label"></label></td></strong><td>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                 <tr><td><strong><label asp-for="StudentContact" class="control-label"></label></td></strong><td>
                <input asp-for="StudentContact" class="form-control" />
                <span asp-validation-for="StudentContact" class="text-danger"></span></td></tr>
            </div>
            <div class="form-group">
                <tr><td> <strong><label asp-for="StudentEmail" class="control-label"></label></td></strong><td>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span></td></tr>
            </div>
            <br />
            <div class="form-group">
                <tr><td> </td></tr>
            </div>

          
            </table>
        </form>
    </div>
</div>
<br />
<div class="form-group">
    <input type="submit" value="Register" class="btn btn-primary" /> &ensp;

                     <a asp-action="Index" class="btn btn-primary">Back to List</a>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
